body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
.title-image {
  margin-top: 10px;
  margin-left: 5px;
}

#container {
  width: 70%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_message {
  width: 900px;
  position: absolute;
  margin:0 auto;
  text-align:left;
  padding: 20px 0px 20px 0px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

/* NAVIGATION */

#navigation {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.invertedshiftdown{
  padding: 0;
  width: 100%;
  border-top: 5px solid #D10000; /*Red color theme*/
  background: transparent;
  voice-family: "\"}\"";
  voice-family: inherit;
}

.invertedshiftdown ul{
  margin:0;
  margin-left: 40px; /*margin between first menu item and left browser edge*/
  padding: 0;
  list-style: none;
    display: inline;

}

.invertedshiftdown li{
  display: inline;
  margin: 0 2px 0 0;
  padding: 0;
  text-transform:uppercase;
}

.invertedshiftdown a{
  float: left;
  display: block;
  font: bold 12px Arial;
  color: black;
  text-decoration: none;
  margin: 0 1px 0 0; /*Margin between each menu item*/
  padding: 5px 10px 9px 10px; /*Padding within each menu item*/
  /* background-color: white; /*Default menu color*/

/*BELOW 4 LINES add rounded bottom corners to each menu item.
  ONLY WORKS IN FIREFOX AND FUTURE CSS3 CAPABLE BROWSERS
  REMOVE IF DESIRED*/
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}

.invertedshiftdown a:hover{
  background-color: #D10000; /*Red color theme*/
  padding-top: 9px; /*Flip default padding-top value with padding-bottom */
  padding-bottom: 5px; /*Flip default padding-bottom value with padding-top*/
  color: white;
}

.invertedshiftdown .current a{ /** currently selected menu item **/
  background-color: #D10000; /*Red color theme*/
  padding-top: 9px; /*Flip default padding-top value with padding-bottom */
  padding-bottom: 5px; /*Flip default padding-bottom value with padding-top*/
  color: white;
}

#login_form { /*CSS for sample search box. Remove if desired */
  float: right;
  margin: 0px;
  margin-top: -5px;
  padding: 0;
  font-size: 10px;
}

#login_form .textinput {
  width: 190px;
  border: 1px solid gray;
}

#login_form .submit {
  font: normal 12px Verdana;
  height: 22px;
  border: 1px solid #D10000;
  background-color: black;
  color: white;
}

#nav-account {
  float: right;
  padding: 0;
  font-size: 10px;
}

/* FORMS */

#nav-header {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: #000;
}
#nav-header h2 {
  display: inline;
  color: #000;
}
#nav-header .title {
  display: inline;
  padding-left: 7px;
}

.title {
  vertical-align: middle;
}

#user-listing {
  margin-left: 50px;
}