/* -- DATAGRID CSS -- */

/*	=============================================== */
/*	General table stuff for datagrid css class */

table.datagrid {   
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color: #FFFFFF;
	text-align: left;
	border-collapse: collapse;
  	margin-left: 15px;
}
table.datagrid tr td {
	padding: 10px;
	text-align: center;
}
table.datagrid a {
	text-decoration: none;
}
table.datagrid a:hover {
	text-decoration: none;
	color: #D97600;
}

/*	=============================================== */
/*	Time to deal with Table Caption and Header Row  */

caption.datagrid {
	height: 45px;
	line-height: 44px;
	color: #000000;
	font-weight: bold;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0;
}
thead.datagrid th {
	font-size: 105%;
	color: #FFFFFF;
	background-color: #000000;
	height: 20px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
thead.datagrid th:hover {
	/* background-color: nothing changes right now */
	
}


/*	=============================================== */
/*	TR elements handled here (main rows only)  */

.dg_list_line_odd {
	font: 90% Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #FFFFFF;
	text-align: left;
	vertical-align: top;
	line-height: 2.5;
	padding: 3px;
}
.dg_list_line_odd a {
	font: 90% Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}
.dg_list_line_even {
	font: 90% Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-align: left;
	vertical-align: top;
	line-height: 2.5;
	background: rgb(119,176,33); /* Old browsers */
  	/*background: -moz-linear-gradient(top,  rgba(119,176,33,1) 0%, rgba(103,155,29,1) 100%); /* FF3.6+ */*/
  	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,176,33,1)), color-stop(100%,rgba(103,155,29,1))); /* Chrome,Safari4+ */*/
  	/*background: -webkit-linear-gradient(top,  rgba(119,176,33,1) 0%,rgba(103,155,29,1) 100%); /* Chrome10+,Safari5.1+ */*/
 	/*background: -o-linear-gradient(top,  rgba(119,176,33,1) 0%,rgba(103,155,29,1) 100%); /* Opera 11.10+ */*/
  	/*background: -ms-linear-gradient(top, rgba(119,176,33,1) 0%,rgba(103,155,29,1) 100%); /* IE10+ */*/
 	/*background: linear-gradient(top, rgba(119,176,33,1) 0%,rgba(103,155,29,1) 100%); /* W3C */ */
	padding: 3px;
}
.dg_list_line_even a {
	font: 90% Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}
.dg_list_line_even img {
	vertical-align: top;
	padding: 5px 3px 3px;
}
.dg_list_line_odd img {
	vertical-align: top;
	padding: 5px 3px 3px;
}
.dg_list_line_odd:hover {
	background-color: #FFFFFF;
	color: #D97600;
	font-weight: bold;
}
.dg_list_line_odd:hover a {
	background-color: #FFFFFF;
	color: #D97600;
	text-decoration: none;
}
.dg_list_line_even:hover {
	background-color: #FFFFFF;
	color: #D97600;
	font-weight: bold;
}
.dg_list_line_even:hover a {
	background-color: #FFFFFF;
	color: #D97600;
	text-decoration: none;
}


/*	=============================================== */
/*	TR elements handled here (alt rows only)  */

tr.dg {
	line-height: 2;
	padding: 2px;
}
tr.dgalt,th.dgalt,td.dgalt {
	padding: .75em;
}
tr.dgalt:hover {
	background-color: #FFFBD0;
	color: #000000;
}
tr.dgalt:hover a {
	text-decoration: underline;
	color: #005fd5;
	background-color: #FFFBD0;
}


/*	=============================================== */
/*	table foot elements handled here  */

tfoot.datagrid tr {
	/* background-color: nothing set at this time */
}
tfoot.datagrid td, tfoot.datagrid th{
	color: #000;
	border: 0px;
}

