<script>
$(function() {
  $( "#tabs" ).tabs();
});
</script>

<div id="page-content">
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">All Events</a></li>
      <li><a href="#tabs-2">Upcoming Events</a></li>
      <li><a href="#tabs-3">Past Events</a></li>
      <% if can? :create, Event %>

      <%= link_to(image_tag('icons/add.gif', :size => '20x20', :class => 'title-image'), new_event_path) %>
      <% end %>
    </ul>
    <div id="tabs-1">   
      <%= render :partial => 'all_events' %>
    </div>
    <div id="tabs-2">
      <%= render :partial => 'upcoming_events' %>
    </div>
    <div id="tabs-3">
      <%= render :partial => 'past_events' %>
    </div>
  </div>
</div>

    <!--- 
  <h2>Past Events</h2>
  <table class   = "datagrid">
    <thead class = "datagrid">
      <th>Name</th>
      <th>Photos</th>
      <%# if can? :modify, Event %>
      <th></th>
      <th></th>
      <%# end %>
    </thead>

    <%# @past_events.each do |event| %>
    <tr class    = "<%# cycle('dg_list_line_odd', 'dg_list_line_even') %>">
      <td><%# link_to event.name, event %></td>
      <td>&nbsp;</td>
    </tr>
    <%# end %>
  </table> 
-->